body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px; /*largura comumente utilizada na Web*/
	margin: 0 auto; /*alinha a div: calculada automaticamente de acordo com a tela*/
}

nav {
	position: absolute; /*Posicionamento estático, relativo (depende da página) e 
	absoluto (posiciona o elemento em qualquer lugar da página) -- Ver W3school*/
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase; /*transforma o texto visualmente,
	melhor do que colocar maiúscula no html devido a etiqueta*/

	color: #000000;
	font-weight: bold; /*O mesmo que strong e em*/
	font-size: 22px; /*pode ser small ou large também*/
	text-decoration: none; /*retira sublinhado (decoração)*/
}

nav a:hover { /*Hover: observações de quando o mouse está por cima do elemento*/
	color: #C78C19;
	text-decoration: underline; /*coloca sublinhado (decoração) somente quando o mouse passa*/
}

.produtos {
	width: 940px; /*width: largura; imagem vai ocupar 100% da tela*/
	margin: 0 auto; /*width e margin colocados para centralizar*/
	padding: 50px 0;
}

.produtos li { /*elementos da lista*/
	display: inline-block; /*Inline-block: alinhamento vertical com tamanho do conteúdo, mas regulável - display: inline (conteúdo da tag é do tamanho mencionado) e 
	block (tamanho sempre 100% da página)*/
	text-align: center; /*Alinhamento do texto: centralizado*/
	width: 30%;
	vertical-align: top; /*Elementos se alinham na parte de cima*/  
	margin: 0 1.5%;  /*Espaçamento externo: deu distância entre blocos*/
	padding: 30px 20px; /*Padding: espaçamento interno, aumenta o tamanho/conteúdo de cada elemento*/
	box-sizing: border-box;
	border: 2px solid #000000; /*Border: moldura - largura, estilo e cor*/
	border-radius: 10px; /*border-radius: arredonda a moldura, se colocar 4 medidas, cada canto vai ficar com um redondo diferente*/
}

.produtos li:hover {
	border-color: #C78C19; /*Troco a cor da moldura quando o mouse passar*/
}

.produtos li:active { /*Active: quando o mouse clica*/
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px; /*mesma coisa que escrever margin: 10px 0 0;*/
}

footer {
	text-align: center;
	background: url("bg.jpg"); /*background: url (""): adiciona imagem de fundo*/
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px; /*borda arredondada de acordo com os valores*/
	transition: 1s all; /*efeito de troca de um estilo para outro (para ocorrer suavemente ao invés de bruscamente*/
	cursor: pointer; /*mudança de estilo do cursor*/
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}


/* css da página inicial */
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left; /*especifica se um elemento deve ser posicionado ao lado de elementos com float ou se devem ser colocados abaixo deles*/
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5; /*espaçamento: controla o espaço entre as linhas do texto*/
}

.itens:first-child { /*O primeiro elemento entre um grupo de elementos do mesmo grupo (irmãos)*/
	font-weight: bold;
}

.itens:before {
	content: "🟊"; /*Marcação do tópico*/
}

.imagem-beneficios {
	width: 60%;
	opacity: 1; /*Deixa opaco*/
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
	opacity: 0.3; /*Deixa opaco*/
}

.video {
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px) { /*@media: site passa a atender diferentes resoluções de tela e dispositivos*/
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}

/*
# PARA IDS:

#banner {  
	width: 100%;
}

. PARA CLASSES:

.principal { 
	background: #CCCCCC;
	padding: 30px;
}

PARA TAGS:

nav {
    position: absolute;
    top: 110px; -----info de position
    right: 0;   -----info de position

}
*/